body{
    background: linear-gradient(135deg,
    #2b1055 0%,
    #4b1f7a 35%,
    #6a2bbd 70%,
    #a855f7 100%
  );
  background-attachment: fixed;

}

h2, h3, h4, label{
    color: white;
}

a:hover {
    color: white;
}

.animationBtn {
    background-image: linear-gradient(to right, rgb(53, 75, 240) 50%, rgb(165, 1, 187) 50%);
    color: white;
    background-size: 200%;
    transition: 0.3s ease-out;
    border: 2px solid rgb(53, 75, 240);
    border-radius: 10px;
}

.animationBtnDel {
    background-image: linear-gradient(to right, rgb(53, 75, 240) 50%, rgb(179, 0, 0) 50%);
    color: white;
    background-size: 200%;
    transition: 0.3s ease-out;
    border: 2px solid rgb(53, 75, 240);
    border-radius: 10px;
}

.animationBtnDel:hover {
    background-position: right;
    border: 2px solid rgb(179, 0, 0);
}

.animationBtn:hover {
    background-position: right;
    border: 2px solid rgb(165, 1, 187);
}

.animationA {
    background-image: linear-gradient(to right, rgb(53, 75, 240) 50%, rgb(165, 1, 187) 50%);
    color: white;
    background-size: 200%;
    transition: 0.3s ease-out;
    border: none;
}

.animationA:hover {
    background-position: right;
        border: 2px solid rgb(165, 1, 187);
}
