/* body {
  font-family: "Lato", sans-serif;
} */

.side-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(32, 30, 30);
  overflow-x: hidden;
  padding: 20px 30px;
}

.logo{
    display: block;
    margin-bottom: 130px;
}

.logo img{
    width: 150px;
}

ul{
    justify-content: center;
}

/* a{
    text-decoration: none;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


 */
