.side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(32, 30, 30);
    overflow-x: hidden;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 130px;
}

.logo img {
    width: 150px;
}

ul {
    justify-content: center;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
}

/* https://www.youtube.com/watch?v=G1uDmIaOnsc */

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1px;
    background: white;
    border-radius: 40px;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.loginBtn {
    background-color: #972ef9;
    color: white;
    border: none;
}

.loginBtn:hover {
    background: linear-gradient(135deg,
            #481796 0%,
            #4b1f7a 35%,
            #6a2bbd 70%,
            #a855f7 100%);
    color: white;
    border: none;
}

.registrationBtn {
    background-color: #972ef9;
    color: white;
    border: none;
}

.registrationBtn:hover {
    background: linear-gradient(135deg,
            #481796 0%,
            #4b1f7a 35%,
            #6a2bbd 70%,
            #a855f7 100%);
    color: white;
    border: none;
}

nav ul li a:hover {
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(100, 154, 255);
}

@media screen and (max-width: 767px) {
    #no-mobile {
        display: none;
    }
}
