.side-nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(32, 30, 30);
  overflow-x: hidden;
  padding: 20px 30px;
}

.logo{
    display: block;
    margin-bottom: 130px;
}

.logo img{
    width: 150px;
}

ul{
    justify-content: center;
}

a{
    text-decoration: none;
    color: #0CAFFF;
}
