<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tartozási kérelem</title>
    <style>
    </style>
</head>
<body>
    <h2 style="text-align:center">Tisztelt felhasználónk!</h2>

    <p>Önnek új tartozási kérelmet írtak fel</p>
</body>
</html>

<!-- #<x-mail::button :url="URL::signedRoute('userremoval.cancel', ['id' => $user->id], now()->addDays(30))">
                                                Fiók helyreállítása
</x-mail::button> -->
